.hero {
  /* margin-bottom: 3rem; */
}

.hero__img {
  max-width: 35rem;
  height: auto;
  margin: auto;
  margin-bottom: 2rem;
}

.hero__title {
  font-size: clamp(1.5rem, 5vw + 1rem, 2.3rem);
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero__text-lead {
  width: min(100%, 320px);
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.1;
  color: #222;
}

@media (min-width: 45em) {
  .hero__text-lead {
    width: 100%;
    font-size: 1.1rem;
  }
}
